<main class="user-profile">

  <div class="card">

    <div class="card-top">
      <h2>List of Email Addresses</h2>
    </div>

    <div class="card-body">
      <% @users.each do |user| %>
      <p><%= user.email %></p>
      <% end %>
    </div>

  </div>

 </main>
