<h2><%= @user.name %>'s Profile</h2>
<h5><%= @user.email %></h5>

<p>Cats listed by <%= @user.name %>:</p>
<% @user.listings.each do |listing| %>
  <ul>
    <li><%= link_to listing.name, listing_path(listing) %></li>
  </ul>
<% end %>
