body{
	background-color: #fafafa;
	padding: 0px;
	font-family: 'Droid Sans', sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.logo-image {
	width: 135px;
}

.thumb {
  width: 100%;
  vertical-align: middle;
}

.feature {
  width: 100%;
  vertical-align: middle;
}

.profile-pic {
	width: 70%;
  vertical-align: middle;
	border-radius: 50%;
}

.listings-list {
  list-style-type: none;
	padding: 0;
	margin: 0;
}

.cat-info-lists {
  list-style-type: none;
	padding: 0;
	margin: 0;
}

.cat-list-user-profile {
	list-style-type: none;
	padding: 0;
	margin-bottom: 80px;
}

.collapse-navbar-collapse {
	justify-content: flex-end;
}

.form-signin {
  width: 100%;
  max-width: 416px;
  padding: 15px;
  margin: auto;
}

.new-cat-heading {
text-align: center;
}

.form-control {
	margin-bottom: 20px;
}

#update-btn {
	margin-right: 5px;
}

.user-profile-head {
	text-align: center;
	margin-bottom: 40px;
}

#navbar-id {
	margin-bottom: 30px;
	padding: 0.5rem 0rem;
}

.card {
	margin-bottom: 10px;
}

.card-top {
	padding: 5px 15px;
}

.card-body {
	padding: 5px 15px;
}

.container-fluid {
	padding: 0;
}

.controls a {
	padding: 5px;
}

#last-row-g-3 {
	margin-bottom: 20px;
}

input[type=file]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #a29bfe;
  transition: 1s;
}
